<%inherit file="main.html"/>
<%def name="scripts()">

<link rel="stylesheet" href="static/css/overlay.css">
<link rel="stylesheet" href="static/css/tooltip.css">
<script src="/static/tooltip/jquery.tools.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$(window).load(function() {
		$.post("/list", {}, function(data){
				$('#loading').remove();
			for(message in data['messages']){
				$('ul.thumbnails').append('<li class="span3"><a class="thumbnail" data-toggle="modal" href="#tweet'+ data['messages'][message]['id'] +'"><img src="'+ data['messages'][message]['image'] +'" title="'+ data['messages'][message]['message'] +'"></a></li>');
				$('#modals').append('<div class="modal hide fade" id="tweet'+ data['messages'][message]['id']+'" ><div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>'+ data['messages'][message]['message'] +'</h3></div><div class="modal-body"><a href="'+ data['messages'][message]['url'] +'" target="blanc" ><img src="'+ data['messages'][message]['image'] +'" title="'+ data['messages'][message]['message'] +'" class="thumbnail"/></a></div></div>');
				
			}
		
			// initialize tooltip
			$("img[title]").tooltip({

			   // tweak the position
			   offset: [10, 2],

			   // use the "slide" effect
			   effect: 'slide'

			// add dynamic plugin with optional configuration for bottom edge
			}).dynamic({ bottom: { direction: 'down', bounce: true } });
			
		});
		
	});
</script>

</%def>


<%def name="main()">
<h1 class="blue">Tweet images for ${user.username}</h1>

<div class="row">
	<div id="loading">
		<h1>Loading pictures!</h1>
		<img src="/static/img/loading.gif" width="100" height="100" alt="Loading">
	</div>
	<ul class="thumbnails">

	</ul>
		
</div>
</%def>

<%def name="modals()">
	<div id="modals">
		
	</div>
</%def>