<html>
	<head>
		<title>Twitter Gráfico</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet/less" href="static/bootstrap/lib/bootstrap.less">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
		<script src="static/less/less-1.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="static/css/twittergrafico.css">
		${self.scripts()}
	</head>
	<body>
		<div class="topbar-wrapper" style="z-index: 5;">
		    <div class="topbar" data-dropdown="dropdown">
		      <div class="topbar-inner">
		        <div class="container">
		          <h3><a href="#">Twitter Gráfico</a></h3>
		          <ul class="nav">
		            <li class="active"><a href="/home">Home</a></li>
		            <li><a href="/list">List</a></li>
		            <li><a href="/clustered_tweets">Clustered Tweets</a></li>
		            <li><a href="/clustered_keywords">Clustered Keywords</a></li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle">Dropdown</a>
		              <ul class="dropdown-menu">
		                <li><a href="#">Secondary link</a></li>
		                <li><a href="#">Something else here</a></li>
		                <li class="divider"></li>
		                <li><a href="#">Another link</a></li>
		              </ul>
		            </li>
		          </ul>
		          <form class="pull-left" action="">
		            <input type="text" placeholder="Search">
		          </form>
		          <ul class="nav secondary-nav">
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle">Dropdown</a>
		              <ul class="dropdown-menu">
		                <li><a href="#">Secondary link</a></li>
		                <li><a href="#">Something else here</a></li>
		                <li class="divider"></li>
		                <li><a href="#">Another link</a></li>
		              </ul>
		            </li>
		          </ul>
		        </div>
		      </div><!-- /topbar-inner -->
		    </div><!-- /topbar -->
		</div>
		<br/>
		<div class="container" style="padding-top: 40px;">
			${self.main()}
		</div>
	</body>
</html>

<%def name="main()">
</%def>
<%def name="scripts()">
</%def>