body { 
    background-image: url(../img/grey-twitter.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    }
    
h1.blue {
    color: #437EA1;
}

.register {
    padding-top: 15px;
    background-color: rgba(192,192,192,0.5);
}